// $background-color: #00272B;
$background-color: #121212;
$primary-color: #F9881E;

// $text-color: #A0BDC0;
$text-color: #8b8b8b;

$border-color: rgba(255, 255, 255, 0.3);
// $border-color: #0B6E78;
