@use '@/assets/scss/variables.scss' as *;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error {
  color: red;
  font-size: 14px;
}

.button {
  background-color: $primary-color;
  color: #121212;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  
  &:hover {
    background-color: $primary-color;
  }
}
